# Copy this file and rename it to .secrets.toml. It should still be located within the .streamlit file
# Ask for SUPABASE_URL and SUPABASE_KEY. It must be surronded by quotes. 
[connections.supabase]
SUPABASE_URL = "https://sfdsf.supabase.co"
SUPABASE_KEY = "sb_publishable_fsdsdfs"
